<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdkj.dispatch.dao.user.UserMapper">
  <resultMap id="BaseResultMap" type="com.sdkj.dispatch.domain.po.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="head_img" jdbcType="VARCHAR" property="headImg" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="user_type" jdbcType="INTEGER" property="userType" />
    <result column="referee_id" jdbcType="BIGINT" property="refereeId" />
    <result column="registrion_id" property="registrionId" />
    <result column="map_terminal_id" property="mapTerminalId" />
  </resultMap>
  
  <select id="findSingleUser" parameterType="java.util.Map" resultMap="BaseResultMap">
    select *
    from sdlh_user
    <trim prefix="where" prefixOverrides="and">
    	<if test="account != null"> and account = #{account}</if>
    	<if test="userType != null"> and user_type = #{userType}</if>
    	<if test="id != null"> and id = #{id}</if>
    </trim>
  </select>
  <select id="findUserList" parameterType="java.util.Map" resultMap="BaseResultMap">
    select *
    from sdlh_user
    <trim prefix="where" prefixOverrides="and">
    	<if test="account != null"> and account = #{account}</if>
    	<if test="userType != null"> and user_type = #{userType}</if>
    	<if test="id != null"> and id = #{id}</if>
    </trim>
  </select>
  
  <delete id="deleteById" parameterType="java.lang.Long">
    delete from sdlh_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sdkj.dispatch.domain.po.User" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
    insert into sdlh_user (id, account, head_img, 
      nick_name, sex, user_type, 
      referee_id)
    values (#{id,jdbcType=BIGINT}, #{account,jdbcType=VARCHAR}, #{headImg,jdbcType=VARCHAR}, 
      #{nickName,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, #{userType,jdbcType=INTEGER}, 
      #{refereeId,jdbcType=BIGINT})
  </insert>
  <update id="updateById"  parameterType="com.sdkj.dispatch.domain.po.User">
    update sdlh_user
    <set>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="headImg != null">
        head_img = #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="userType != null">
        user_type = #{userType,jdbcType=INTEGER},
      </if>
      <if test="refereeId != null">
        referee_id = #{refereeId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>