<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
	<property name="LOG_PATH" value="F:\\" />
	<appender name="application" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>application-task.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> 
　　　　　　　　　　　　　　<fileNamePattern>application-task.%d{yyyy-MM-dd}.log</fileNamePattern> 
　　　　　　　　　　　　　　<maxHistory>30</maxHistory> 
　　　　     </rollingPolicy>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    	<!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    	<encoder>
     	 <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    	</encoder>
  	</appender>
	
	<logger name="com.sdkj.dispatch" level="ERROR" additivity="false">
		<appender-ref ref="application" />
		<appender-ref ref="STDOUT" />
	</logger>
	<root level="ERROR">
		<appender-ref ref="application" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>