<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.sdkj.dispatch.dao.noticeRecord.NoticeRecordMapper">

	<resultMap id="BaseResultMap" type="com.sdkj.dispatch.domain.po.NoticeRecord">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="order_id"  property="orderId" />
		<result column="message_type" property="messageType" />
		<result column="notice_user_ids" property="noticeUserIds" />
		<result column="noticeRegisterIds" property="noticeRegisterIds" />
		<result column="content" property="content" />
		<result column="extra_message"  property="extraMessage" />
	</resultMap>

	<select id="findNoticeRecord" parameterType="java.util.Map"
		resultMap="BaseResultMap">
		select *
		from sdlh_notice_record
		<trim prefix="where" prefixOverrides="and">
			<if test="id != null">and id = #{id}</if>
			<if test="orderId != null">and user_id = #{orderId}</if>
			<if test="messageType != null">and message_type = #{messageType}</if>
		</trim>
	</select>

	<insert id="saveNoticeRecord"
		parameterType="com.sdkj.dispatch.domain.po.NoticeRecord"
		useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		INSERT INTO `sdlh_notice_record`
		(`order_id`,
		`message_type`,
		`notice_user_ids`,
		`notice_user_register_ids`,
		`content`,
		`extra_message`)
		VALUES (#{orderId},
		#{messageType},
		#{noticeUserIds},
		#{noticeRegisterIds},
		#{content},
		#{extraMessage})
	</insert>
</mapper>