<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdkj.dispatch.dao.driverInfo.DriverInfoMapper">
  <resultMap id="BaseResultMap" type="com.sdkj.dispatch.domain.po.DriverInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="id_card_no" jdbcType="VARCHAR" property="idCardNo" />
    <result column="id_card_type" jdbcType="INTEGER" property="idCardType" />
    <result column="driving_license_no" jdbcType="VARCHAR" property="drivingLicenseNo" />
    <result column="driving_license_file_no" jdbcType="VARCHAR" property="drivingLicenseFileNo" />
    <result column="driving_license_type" jdbcType="VARCHAR" property="drivingLicenseType" />
    <result column="driving_license_image" jdbcType="VARCHAR" property="drivingLicenseImage" />
    <result column="on_duty_status" property="onDutyStatus" />
    <result column="status" property="status" />
    <result column="register_city" property="registerCity" />
    <result column="driver_type" property="driverType" />
    <result column="vehicle_type_id" property="vehicleTypeId" />
  </resultMap>
 
  <select id="findSingleDriver" parameterType="java.util.Map" resultMap="BaseResultMap">
    select *
    from sdlh_driver_info
   	<trim prefix="where" prefixOverrides="and">
   		<if test="id != null">and id = #{id}</if>
   		<if test="userId != null">and user_id = #{userId}</if>
   	</trim>
  </select>
  <select id="findDriverInfoList" parameterType="java.util.Map" resultMap="BaseResultMap">
    select *
    from sdlh_driver_info
   	<trim prefix="where" prefixOverrides="and">
   		<if test="id != null">and id = #{id}</if>
   		<if test="userId != null">and user_id = #{userId}</if>
   		<if test="status != null">and status = #{status}</if>
   		<if test="driverType != null">and driver_type = #{driverType}</if>
   		<if test="onDutyStatus != null">and on_duty_status = #{onDutyStatus}</if>
   		<if test="registerCity != null">and register_city = #{registerCity}</if>
   	</trim>
  </select>
  
</mapper>